:root {
    --body-desktop-background-image: url('../../app/assets/image/rainbow-desktop-dragon.jpg');
    --body-mobile-background-image: url('../../app/assets/image/rainbow-dragon-mobile.jpg');

    
  }
  *{
    margin: 0;
    padding: 0;
  }
  body {
    
    background-image: var(--body-desktop-background-image) ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .img {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background-size: contain;
    mix-blend-mode: darken;
  }
  